<ion-content class="ivan">
<ion-header>
  <ion-toolbar color="black">

      <img src="../../assets/icon/Logo_DuocUC.svg.png" width="400px" class="logo">

  </ion-toolbar>
</ion-header>


<ion-card class="mitarjeta">
  <ion-card-header>
    <ion-card-title class="ion-text-center">
      ¡Bienvenido!
      <div class="subtitulo">portal de asistencia</div>
    </ion-card-title>
        </ion-card-header>
</ion-card>
<img src="../../assets/icon/noticiasduoc.jpg" width="200px" class="noticia">
  
  
  <ion-button color="tertiary" expand="" (click)="redirectToLogin()">
    Iniciar sesion
  </ion-button>
</ion-content>
